
<div style="margin-top: 20px;" class="col-md-6 col-md-offset-2">


  <!-- {{model | json}} -->
       
<h2 style="font-weight: bolder; color: #4189C7; font-size: 23px;" align="center" >REGISTER STUDENT</h2>
<form  name="form" (ngSubmit)="register(f)" #f="ngForm" novalidate>
    <div class="form-row">
    <div class="form-group col-md-6" >
        <input type="text" class="form-control inp" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" placeholder="FirstName" required />
        <div *ngIf="firstName.touched && firstName.invalid"  class="validation-error">FirstName is required</div>
    </div>
    <div class="form-group col-md-6" >
      <input type="text" class="form-control inp" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" placeholder="LastName" required />
      <div *ngIf="lastName.touched && lastName.invalid"  class="validation-error">LastName is required</div>
  </div> 
</div>
  <div class="form-group col-md-12" >
    <input type="text" class="form-control inp" name="userName" [(ngModel)]="model.userName" #userName="ngModel" placeholder="Username" required />
    <div *ngIf="userName.touched && userName.invalid"  class="validation-error">UserName is required</div>
</div>
<div class="form-row">
<div class="form-group col-md-6" >
        <select class="form-control" [(ngModel)]="model.gradeId" name="gradeId" required #gradeId="ngModel" >
            <option >Select Class</option>
            <option *ngFor="let c of grade" value="{{c.id}}">{{c.name}}</option>
        </select>
        <div class="validation-error" *ngIf="gradeId.touched && gradeId.invalid">Please Select the Class</div>
    </div>


<div class="form-group col-md-6" >
    <select class="form-control" [(ngModel)]="model.sexId" name="sexId" required #sexId="ngModel" >
        <option >Select Sex</option>
        <option *ngFor="let s of sex" value="{{s.id}}">{{s.name}}</option>
    </select>
    <div class="validation-error" *ngIf="sexId.touched && sexId.invalid">Please Select the Sex</div>
</div>
</div>


<div class="form-group col-md-12" >
  <input type="date"   name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="model.dateOfBirth" class="form-control"    />
  <div *ngIf="dateOfBirth.touched && dateOfBirth.invalid"  class="validation-error">Date Of Birth is required</div>
</div>
<div class="form-row">
<div class="form-group col-md-6" >
  <input type="text" class="form-control inp" name="address" [(ngModel)]="model.address" #address="ngModel" placeholder="Address" required />
  <div *ngIf="address.touched && address.invalid"  class="validation-error">Address is required</div>
</div>
    <div class="form-group col-md-6" >
        <input type="password" class="form-control inp" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password" />
        <div *ngIf="password.touched && password.invalid" class="validation-error">Password is required</div>
    </div>
</div>
    <div class="form-row">
    <div class="form-group col-md-8">
        <button [disabled]="!f.valid || loading" style="font-weight:bolder;"  class="btn btn-primary btn-block"><i class="fa fa-floppy-o"></i> Submit</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
       
    </div>
    <div class="form-group col-md-4">
        <button type="button" (click)="resetForm(f)" class="btn btn-secondary btn-block"> <i class="fa fa-repeat"></i> reset</button>
    </div>
</div>
    
</form>



</div>



