


<div>
    <div >
      <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a [routerLink]='["/staff/dashboard"]' class="brand-link">
        <img src="/uploads/nsuk.png" alt="NSUK" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-bold">SCHOOL MGMT</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/uploads/{{student.fileName}}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a [routerLink]='["/student-profile"]' class="d-block">PROFILE</a>
          </div>
        </div>
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            
            <li [routerLinkActive]='["link-active"]'  role="presentation"  class="nav-item">
              <a [routerLink]='["/result"]' class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  RESULT
                </p>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'  role="presentation"  class="nav-item">
              <a [routerLink]='["/fees"]' class="nav-link ">
                <i class="nav-icon fas fa-credit-card"></i>
                <p>
                  PAY FEES
                </p>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'  class="nav-item ">
              <a [routerLink]='["/student-change-password"]' class="nav-link">
                <i class="nav-icon fa fa-briefcase"></i>
                <p>
                  CHANGE PASSWORD
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    </div>
    <div>
        <app-student-bar></app-student-bar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
          <section class="content">
            <div class="row">
              <div class="col-12 back">
                <router-outlet></router-outlet>
              </div>
    <!-- /.col -->
          </div>
    <!-- /.row -->
      </section>
    <!-- /.content -->
    </div>
  
    </div>
  </div>