
<div class='container-fluid'>
<div style="margin-top: 60px;" class="row">
  <div class="col-sm-2  dash">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" [routerLinkActive]='["link-active"]'><a class="lik " [routerLink]='["/student-profile"]' ><span class='glyphicon glyphicon-user'></span> MY PROFILE  </a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a class="lik " [routerLink]='["/student-change-password"]' ><span class='glyphicon glyphicon-lock'></span> CHANGE PASSWORD</a></li>
    </ul>
  </div>
  <div class="col-md-10">
      <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  </div>
</div>
</div>