.back{
  background-color: white;
}
  
 




/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background: #007bff !important;
    color:white !important;
  /* border-bottom: 1px solid royalblue; */
  
}



