<div class="card card-primary">
  <div class="card-header">
      <h3 class="panel-title">My Profile</h3>
  </div>
  <div class="card-body">

    <div id="user-profile-2" class="user-profile">
          
         
      <div class="tabbable">
       
  
        <div class="tab-content no-border padding-24">
          <div id="home" class="tab-pane in active">
            <div class="row">
              <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                  <img class="editable img-responsive"  src="/uploads/{{student.fileName}}">
                </span>
                <!-- <h4 class="blue">
                  <input class="btn btn-primary" type="button" value="Edit Profile" >
  
                </h4> -->
                <div class="space space-4"></div>
  
               
              </div><!-- /.col -->
  
              <div class="col-xs-12 col-sm-9">
               
  
                <table class="table table-striped table-hover table-bordered ">
                  <thead>
                    <tr>
                      <th class="tabble" colspan="2">Personal Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{student.firstName}}  {{student.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{student.userName}}</td>
                      </tr>
                      <tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td>{{student.dateOfBirth}}</td>
                      </tr>
                      <tr>
                          <td>Address</td>
                          <td><i class="fa fa-map-marker light-orange bigger-110"></i> {{student.address}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{student.country}}</td>
                          </tr>
                          <tr>
                              <td>State</td>
                              <td>{{student.state}}</td>
                            </tr>
                            <tr>
                                <td>LGA</td>
                                <td>{{student.lga}}</td>
                              </tr>
                              <tr>
                                <td>Gender</td>
                                <td>{{student.sex.name}}</td>
                              </tr>
                  </tbody>
                </table>


               
            </div><!-- /.row -->
  
            <!-- <div class="space-20"></div> -->
  
            <!-- <div class="row"> -->
              <div class="col-xs-12 col-sm-12">
                <div class="widget-box transparent">
                    <table class="table table-striped table-hover table-bordered ">
                        <thead>
                          <tr>
                            <th class="tabble" colspan="2">Next of Kin Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{student.nkName}}</td>
                          </tr>
                          <tr>
                              <td>Phone Number</td>
                              <td>{{student.nkPhoneNumber}}</td>
                            </tr>
                            <tr>
                              <td>Next of Kin Relationship</td>
                              <td>{{student.nkRelationship.name}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{student.nkAddress}}</td>
                              </tr>
                          </tbody>
                      </table>

                      <table class="table table-striped table-hover table-bordered ">
                          <thead>
                            <tr>
                              <th class="tabble" colspan="2">Other Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Hair Colour</td>
                              <td>{{student.hairColor}}</td>
                            </tr>
                            <tr>
                              <td>Blood Group</td>
                              <td>{{student.bloodGroup.name}}</td>
                            </tr>
                            <tr>
                              <td>GenoType</td>
                              <td>{{student.genoType.name}}</td>
                            </tr>
                            <tr>
                              <td>Religion</td>
                              <td>{{student.religion.name}}</td>
                            </tr>
                            
                            </tbody>
                        </table>
                  
                </div>
              </div>
            <!-- </div> -->
          </div><!-- /#home -->
  
          
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

