
 <div class="card card-primary">
    <div class="card-header">
        <h2  class="card-title" style="font-weight: bolder;  font-size: 25px;"  >Student Profile</h2>
    </div>
    <div class="card-body">


        <div id="user-profile-2" class=" user-profile">


            <div class="tabbable">


              <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                      <span class="profile-picture">
                        <img class="editable img-responsive" src="/uploads/{{student.fileName}}">
                        <div class="file btn btn-lg btn-primary">
                          Change Photo
                          <input type="file" (change)="uploadPhoto(student.id)" #fileInput name="file"/>
                      </div>
                      </span>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9">


                      <table class="table table-striped table-hover table-bordered ">
                        <thead>
                          <tr>
                            <th class="tabble" colspan="2">Personal Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{student.firstName}}  {{student.lastName}}</td>
                          </tr>
                          <tr>
                              <td>Username</td>
                              <td>{{student.userName}}</td>
                            </tr>
                            <tr>
                          <tr>
                              <td>Date Of Birth</td>
                              <td>{{student.dateOfBirth}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><i class="fa fa-map-marker light-orange bigger-110"></i> {{student.address}}</td>
                              </tr>
                              <tr>
                                  <td>Country</td>
                                  <td>{{student.country}}</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>{{student.state}}</td>
                                  </tr>
                                  <tr>
                                      <td>LGA</td>
                                      <td>{{student.lga}}</td>
                                    </tr>
                                    <tr>
                                      <td>Gender</td>
                                      <td>{{student.sex.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Entry Session</td>
                                        <td>{{student.session.name}}</td>
                                      </tr>
                        </tbody>
                      </table>



                  </div><!-- /.row -->

                  <!-- <div class="space-20"></div> -->

                  <!-- <div class="row"> -->
                    <div class="col-xs-12 col-sm-12">
                      <div class="widget-box transparent">
                          <table class="table table-striped table-hover table-bordered ">
                              <thead>
                                <tr>
                                  <th class="tabble" colspan="2">Next of Kin Details</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Name</td>
                                  <td>{{student.nkName}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{student.nkPhoneNumber}}</td>
                                  </tr>
                                  <tr>
                                    <td>Next of Kin Relationship</td>
                                    <td>{{student.nkRelationship.name}}</td>
                                  </tr>
                                  <tr>
                                      <td>Address</td>
                                      <td>{{student.nkAddress}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-hover table-bordered ">
                                <thead>
                                  <tr>
                                    <th class="tabble" colspan="2">Other Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Hair Colour</td>
                                    <td>{{student.hairColor}}</td>
                                  </tr>
                                  <tr>
                                    <td>Blood Group</td>
                                    <td>{{student.bloodGroup.name}}</td>
                                  </tr>
                                  <tr>
                                    <td>GenoType</td>
                                    <td>{{student.genoType.name}}</td>
                                  </tr>
                                  <tr>
                                    <td>Religion</td>
                                    <td>{{student.religion.name}}</td>
                                  </tr>

                                  </tbody>
                              </table>

                              <div>
<section>
  <h4>More Actions</h4>
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">View Result</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Upload Result</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill" href="#custom-content-below-messages" role="tab" aria-controls="custom-content-below-messages" aria-selected="false">Reset Password</a>
              </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
              <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">

                <div class="card card-default">
                  <form >
                    <div class="card-body">
                        <input  type="hidden" name="studentId" #studentId="ngModel" [(ngModel)]="student.id"   >
                        <div class="alert alert-info" role="alert">Please select the Term, for which you want to check result.</div>
                        <div class="form-group col-md-4 offset-md-4 " >
                                <select class="form-control"   [(ngModel)]="yea" name="yearId" >
                                  <option value="Select Term" >Select Term </option>
                                  <option *ngFor="let term of student.terms" value="{{term.name}}">{{term.name}}</option>
                              </select>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onYearChange(student.id)" class="btn btn-success float-right"><span class="fas fa-search"></span> Search</button>
                    </div>
                  </form>
        </div>

              <div *ngIf="subjects" >

                  <form name="form"  (ngSubmit)="updateResult(r)" #r="ngForm" novalidate >

                      <input  type="hidden" name="studentId" #studentId="ngModel" [(ngModel)]="student.id"   >
                        <div class="form-group  " >
                            <select class="form-control" [(ngModel)]="Eresult.year" name="year" required #year="ngModel" >
                                <option selected="selected" >Select Term </option>
                                <option *ngFor="let term of student.terms" value="{{term.name}}">{{term.name}}</option>
                            </select>
                            <div class="validation-error" *ngIf="year.touched && year.invalid">Please Select Term</div>
                        </div>
                        <div class="row">
                          <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="Eresult.id"  >
                        <div class="form-group col-md-2" >
                          <input type="text" class="form-control" name="name" [(ngModel)]="Eresult.name" #name="ngModel" placeholder="Subject" />
                      </div>
                      <div class="form-group col-md-2" >
                          <input type="text" class="form-control" name="ass1" [(ngModel)]="Eresult.ass1" #ass1="ngModel" placeholder="1st ASS"  />
                      </div>
                      <div class="form-group col-md-2" >
                          <input type="text" class="form-control" name="ass2" [(ngModel)]="Eresult.ass2" #ass2="ngModel" placeholder="2nd ASS"  />
                      </div>
                      <div class="form-group col-md-2" >
                        <input type="text" class="form-control" name="cA1" [(ngModel)]="Eresult.cA1" #cA1="ngModel" placeholder="1st CA"  />
                    </div>
                    <div class="form-group col-md-2" >
                      <input type="text" class="form-control" name="cA2" [(ngModel)]="Eresult.cA2" #cA2="ngModel" placeholder="2nd CA"  />
                  </div>
                  <div class="form-group col-md-1" >
                    <input type="text" class="form-control" name="exam" [(ngModel)]="Eresult.exam" #exam="ngModel" placeholder="Exam"  />
                </div>
                <div class="form-group col-md-1">
                  <button  class="btn btn-primary btn-block">Edit</button>
                </div>
              </div>
                    </form>


              <table class="table  table-hover table-striped">
                  <thead>
                      <tr>
                          <th>SUBJECT</th>
                          <th>1ST ASGMT</th>
                          <th>2ND ASGMT</th>
                          <th>1ST CA</th>
                          <th>2ND CA</th>
                          <th>EXAM</th>
                          <th>TOTAL</th>
                          <th>EDIT</th>
                          <th>DELETE</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let sub of subjects;">
                          <td>{{sub.name}}</td>
                          <td>{{sub.ass1}}</td>
                          <td>{{sub.ass2}}</td>
                          <td>{{sub.cA1}}</td>
                          <td>{{sub.cA2}}</td>
                          <td>{{sub.exam}}</td>
                          <td>{{sub.total}}</td>
                          <td><a class="btn btn-success" (click)="editResults(sub.id)"><span class="fas fa-edit "></span></a></td>
                          <td><a class="btn btn-danger" (click)="setId(sub.id)" data-toggle="modal" data-target="#delModal" ><span class="fas fa-trash"></span></a></td>
                      </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th colspan="6" >Average</th>
                      <th>{{average | number:'2.1-2'}}</th>
                    </tr>
                  </thead>
              </table>
            </div>

              </div>
              <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">

                <div  class=" ">
                  <div style="margin-top:20px;" class="" >

                    <button style="font-weight:bolder;"  data-toggle="modal" data-target="#myModal"  class="btn btn-primary btn-sm col-md-4 offset-md-4"> <i class="fa fa-floppy-o"></i> Add Term</button>


                    <!-- modal begins here -->
                    <div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Add new Term to student</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form name="form" class="" (ngSubmit)="setT(t)" #t="ngForm" novalidate>
                              <input  type="hidden" name="studentId" #studentId="ngModel" [(ngModel)]="student.id"   >
                            <div class="row">
                                    <div class="form-group col-md-12" >
                                      <select class="form-control" [(ngModel)]="model.termId" name="termId" required #termId="ngModel" >
                                          <option >Select Term </option>
                                          <option *ngFor="let t of terms" value="{{t.id}}">{{t.name}}</option>
                                      </select>
                                      <div class="validation-error" *ngIf="termId.touched && termId.invalid">Please Select Term</div>
                                  </div>

                          </div>
                              </form>
                          </div>
                          <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" (click)="postTerm(t)" data-dismiss="modal" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div> <!--modal ends here-->



                        <br />
                        <br>


                            <div class="">


                        <div style="margin-top:20px;" >
                          <form name="form"  (ngSubmit)="addResult(r)" #r="ngForm" novalidate >

                            <input  type="hidden" name="studentId" #studentId="ngModel" [(ngModel)]="student.id"  >
                              <div class="form-group  " >
                                  <select class="form-control" [(ngModel)]="result.year" name="year" required #year="ngModel" >
                                      <option selected="selected" >Select Term </option>
                                      <option *ngFor="let term of student.terms" value="{{term.name}}">{{term.name}}</option>
                                  </select>
                                  <div class="validation-error" *ngIf="year.touched && year.invalid">Please Select Term</div>
                              </div>
                              <div class="row">
                              <div class="form-group col-md-2" >
                                <input type="text" class="form-control" name="name" [(ngModel)]="result.name" #name="ngModel" placeholder="Subject" />
                            </div>
                            <div class="form-group col-md-2" >
                                <input type="text" class="form-control" name="ass1" [(ngModel)]="result.ass1" #ass1="ngModel" placeholder="1st ASS"  />
                            </div>
                            <div class="form-group col-md-2" >
                                <input type="text" class="form-control" name="ass2" [(ngModel)]="result.ass2" #ass2="ngModel" placeholder="2nd ASS"  />
                            </div>
                            <div class="form-group col-md-2" >
                              <input type="text" class="form-control" name="cA1" [(ngModel)]="result.cA1" #cA1="ngModel" placeholder="1st CA"  />
                          </div>
                          <div class="form-group col-md-2" >
                            <input type="text" class="form-control" name="cA2" [(ngModel)]="result.cA2" #cA2="ngModel" placeholder="2nd CA"  />
                        </div>
                        <div class="form-group col-md-2" >
                          <input type="text" class="form-control" name="exam" [(ngModel)]="result.exam" #exam="ngModel" placeholder="Exam"  />
                      </div>

                    </div>
                    <div class="row form-inline float-right">
                        <div class="form-group col-md-5 ">
                          <button [disabled]="!r.valid" class="form-control btn btn-primary btn-block">Add</button>
                        </div>
                        <div class="form-group col-md-7 ">
                          <button type="button"  (click)="resetForm(f)" class="form-control btn btn-danger btn-block">Clear</button>
                        </div>
                      </div>
                          </form>
                        </div>

                        <br> <br>


                        <div *ngIf="resultService.res" >
                        <table class="table  table-hover table-striped">
                          <thead>
                              <tr>
                                  <th>SUBJECT</th>
                                  <th>1ST ASGMT</th>
                                  <th>2ND ASGMT</th>
                                  <th>1ST CA</th>
                                  <th>2ND CA</th>
                                  <th>EXAM</th>
                                  <th>EDIT</th>
                                  <th>DELETE</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let sub of resultService.res; let i = index">
                                  <td>{{sub.name}}</td>
                                  <td>{{sub.ass1}}</td>
                                  <td>{{sub.ass2}}</td>
                                  <td>{{sub.cA1}}</td>
                                  <td>{{sub.cA2}}</td>
                                  <td>{{sub.exam}}</td>
                                  <td><a (click)="getIndex(i)"><span class="fas fa-edit"></span></a></td>
                                  <td><a (click)="deleteResults(i)"><span class="fas fa-trash"></span></a></td>
                              </tr>
                          </tbody>

                      </table>
                      <div>

                          <div class="row form-inline float-right ">
                          <div class="form-group col-md-6  ">
                            <button (click)="postResult()" type="button"  class="form-control btn btn-success btn-block">Submit</button>
                          </div>

                          <div class="form-group col-md-6 ">
                            <button (click)="clear()" type="button"  class="form-control btn btn-danger btn-block">Clear</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

              </div>
              </div>

              </div>
              <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel" aria-labelledby="custom-content-below-messages-tab">

                <div class="row">
                  <div style="margin-top:20px;" class="col-md-4 offset-md-4" >
                      <form name="form" (ngSubmit)="changePassword(f)" #f="ngForm" novalidate>
                        <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="student.id"   >
                      <div class="form-group ">
                          <input type="password" class="form-control inp" name="password" [(ngModel)]="student.password" #password="ngModel" required placeholder="Password" />
                          <div *ngIf="password.touched && password.invalid" class="validation-error">Password is required</div>
                      </div>
                      <div class="form-group">
                          <button [disabled]="!f.valid" style="font-weight:bolder;"  class="btn btn-primary inp but form-control">Change Password</button>
                         </div>
                      </form>
                    </div>
                  </div>

              </div>
            </div>
</section>




                              </div>

                      </div>
                    </div>
                </div>


              </div>
            </div>
          </div>
          </div>


      </div>
    </div>


<!-- Modal -->
<div class="modal fade"  id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Warning</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete..
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" (click)="deleteResult(id)" data-dismiss="modal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

