
<div class='container-fluid'>
<div style="margin-top: 60px;" class="row">
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" [routerLinkActive]='["link-active"]'><a style="font-weight:bolder;" [routerLink]='["/staff-profile"]' > {{staff.firstName}} {{staff.lastName}}  </a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/staffs"]'>Staffs</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/students"]'>Students</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/staff-register"]'>Register Staff</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/student-register"]'>Register Student</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/upload-photo"]'>Upload Image</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/session"]'>Session</a></li>
      <li role="presentation" [routerLinkActive]='["link-active"]'><a [routerLink]='["/change-password"]' >Change Password</a></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
</div>