
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a [routerLink]='["/"]'>
                    <img  src="/img/110.png" >
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav  navbar-nav">
                      <!-- <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/"]' (click)='collapse()'>
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li> -->
                    <!-- <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/about"]' (click)='collapse()'>
                            <span class='glyphicon glyphicon-home'></span> About Us
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/contact"]' (click)='collapse()'>
                            <span class='glyphicon glyphicon-home'></span> Contact Us
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/services"]' (click)='collapse()'>
                            <span class='glyphicon glyphicon-home'></span> Services
                        </a>
                    </li> -->
                    
                    </ul>
                    
                        <ul class="nav  navbar-right navbar-nav ">
                                <!-- <li [routerLinkActive]='["link-active"]'>
                                        <a [routerLink]='["/student-profile"]' (click)='collapse()'>
                                            <span class='glyphicon glyphicon-user'></span> Username
                                        </a>
                                    </li> -->
                                <li [routerLinkActive]='["link-active"]'>
                                        <a *ngIf="!isLoggedIn()" [routerLink]='["/student-login"]' (click)='collapse()'>
                                            <span class='glyphicon glyphicon-log-in'></span> Login
                                        </a>
                                        <a *ngIf="isLoggedIn()" [routerLink]='["/student-login"]'  (click)='logout()'>
                                            <span class='glyphicon glyphicon-log-out'></span> LogOut
                                        </a>
                                    </li>
                        </ul>
                   
                
                
            </div>
        </div>
    </nav>
   