

<div class="row">
  <div style="margin-top: 20px;" class="col-md-6 "  >

    <!-- <form name="form" class="form-inline" (ngSubmit)="postRole(r)" #r="ngForm" novalidate>
      <input *ngIf="role.id" type="hidden" name="id" #id="ngModel" [(ngModel)]="role.id"   >
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control " name="name" [(ngModel)]="role.name" #name="ngModel" required placeholder="Role" />
          <div *ngIf="name.invalid && name.touched" class="validation-error">Role is required</div>
      </div>
          <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form> -->


      <table class="table  table-hover table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles ; let i = index">
                <td>{{i+1}}</td>
                <td>{{role.name}}</td>
                <td>
                    <a (click)="getRole(role.id)" class="btn btn-info btn-sm" >
                      <i class="fas fa-pencil-alt">
                        </i>
                      Edit
                    </a>
                  <a   (click)="deleteRole(role.id)" class="btn btn-danger btn-sm">
                      <i class="fas fa-trash">
                        </i>
                    Delete
                  </a>
                </td>
            </tr>
        </tbody>
      </table>

  </div>
</div>