<div style="margin-top: 40px;" class="col-md-4 col-md-offset-4">
    <form name="form" (ngSubmit)="submit(f)" #f="ngForm" novalidate>

            <!-- <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="staff.id"   > -->

    <div class="form-group">
        <input type="password" class="form-control inp" name="oldPassword" [(ngModel)]="staff.oldPassword" #oldPassword="ngModel" required placeholder="OldPassword" />
        <div *ngIf="oldPassword.invalid &&oldPassword.touched" class="validation-error">Old Password is required</div>
    </div>
    <div class="form-group" >
        <input type="password" class="form-control inp" name="newPassword" [(ngModel)]="staff.newPassword" #newPassword="ngModel" required placeholder="NewPassword" />
        <div *ngIf="newPassword.invalid && newPassword.touched" class="validation-error">New Password is required</div>
    </div>

    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <input type="password" class="form-control inp" name="confirmPassword" [(ngModel)]="staff.confirmPassword" #confirmPassword="ngModel" required placeholder="Confirm Password" />
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">Confirm Password is required</div>
    </div> -->

    <div class="form-group">
        <button [disabled]="!f.valid || loading" style="font-weight:bolder;"  class="btn btn-primary inp but form-control">Change Password</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
       
    </div>
    </form>
</div>


