
<div style="margin-top: 40px;" class="col-md-4 col-md-offset-4">


  <!-- {{model | json}} -->
       
<h2 style="font-weight: bolder; color: #4189C7; font-size: 23px;" align="center" >EDIT STUDENT</h2>
<form name="form" (ngSubmit)="update(f)" #f="ngForm" novalidate>

        <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="student.id" class="form-control inp "   >
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <!-- <label for="username">Username</label> -->
        <input type="text" class="form-control inp" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel" placeholder="FirstName" required />
        <div *ngIf="f.submitted && !firstName.valid"  class="help-block">FirstName is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <!-- <label for="username">Username</label> -->
      <input type="text" class="form-control inp" name="lastName" [(ngModel)]="student.lastName" #lastName="ngModel" placeholder="LastName" required />
      <div *ngIf="f.submitted && !lastName.valid"  class="help-block">LastName is required</div>
  </div> 
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
    <!-- <label for="username">Username</label> -->
    <input type="text" class="form-control inp" name="userName" [(ngModel)]="student.userName" #userName="ngModel" placeholder="Username" required />
    <div *ngIf="f.submitted && !userName.valid"  class="help-block">UserName is required</div>
</div>

<div class="form-group" >
        <!-- <label for="username">Sex</label> -->
        <select class="form-control" [(ngModel)]="student.gradeId" name="gradeId" required #gradeId="ngModel" >
            <option >Select Class</option>
            <option *ngFor="let c of grade"   value="{{c.id}}">{{c.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="gradeId.touched && !gradeId.valid">Please Select the Class</div>
    </div>


<div class="form-group" >
    <!-- <label for="username">Sex</label> -->
    <select class="form-control" [(ngModel)]="student.sexId" name="sexId" required #sexId="ngModel" >
        <option >Select Sex</option>
        <option *ngFor="let s of sex" value="{{s.id}}">{{s.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="sexId.touched && !sexId.valid">Please Select the Sex</div>
</div>



<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dateOfBirth.valid }">
  <!-- <label for="">PassWord</label> -->
  <input type="date"   name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="student.dateOfBirth" class="form-control"    />
  <div *ngIf="f.submitted && !dateOfBirth.valid"  class="help-block">Date Of Birth is required</div>
</div>
<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
  <!-- <label for="username">Username</label> -->
  <input type="text" class="form-control inp" name="address" [(ngModel)]="student.address" #address="ngModel" placeholder="Address" required />
  <div *ngIf="f.submitted && !address.valid"  class="help-block">Address is required</div>
</div>
    <div class="form-group">
        <button [disabled]="!f.valid || loading" style="font-weight:bolder;"  class="btn btn-primary inp but form-control">Update</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
       
    </div>
    
</form>



</div>




