<div style="margin-top: 20px;" class="col-md-8 offset-md-2">
        <div class="card card-primary ">
                <div class="card-header">
                        <h2  class="card-title" style="font-weight: bolder;  font-size: 25px;" align="center" >EDIT STUDENT</h2>
                </div>
                <form name="form" (ngSubmit)="update(f)" #f="ngForm" novalidate>
                        <div class="card-body">
                                <fieldset>
                                        <legend>Personal Details</legend>
                                        
                            <div class="form-row">
                                    <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="student.id" class="form-control inp "   >
                            <div class="form-group col-md-6" >
                                <input type="text" class="form-control inp" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel" placeholder="FirstName" required />
                                <div *ngIf="firstName.touched && firstName.invalid"  class="validation-error">FirstName is required</div>
                            </div>
                            <div class="form-group col-md-6" >
                              <input type="text" class="form-control inp" name="lastName" [(ngModel)]="student.lastName" #lastName="ngModel" placeholder="LastName" required />
                              <div *ngIf="lastName.touched && lastName.invalid"  class="validation-error">LastName is required</div>
                          </div> 
                        </div>
                          <div class="form-group col-md-12" >
                            <input type="text" class="form-control inp" name="userName" [(ngModel)]="student.userName" #userName="ngModel" placeholder="Username" required />
                            <div *ngIf="userName.touched && userName.invalid"  class="validation-error">UserName is required</div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6" >
                                <select class="form-control" [(ngModel)]="student.gradeId" name="gradeId" required #gradeId="ngModel" >
                                    <option value="Select Class" >Select Class</option>
                                    <option *ngFor="let c of grade" value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div class="validation-error" *ngIf="gradeId.touched && gradeId.invalid">Please Select the Class</div>
                            </div>
                        
                        
                        <div class="form-group col-md-6" >
                            <select class="form-control" [(ngModel)]="student.sexId" name="sexId" required #sexId="ngModel" >
                                <option value="Select Sex"  >Select Sex</option>
                                <option *ngFor="let s of sex"  value="{{s.id}}">{{s.name}}</option>
                            </select>
                            <div class="validation-error" *ngIf="sexId.touched && sexId.invalid">Please Select the Sex</div>
                        </div>
                        </div>  
                        <div class="form-group col-md-12" >
                          <input type="date"   name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="student.dateOfBirth" class="form-control"    />
                          <div *ngIf="dateOfBirth.touched && dateOfBirth.invalid"  class="validation-error">Date Of Birth is required</div>
                        </div>
                    
                        <div class="form-group col-md-12" >
                          <input type="text" class="form-control inp" name="address" [(ngModel)]="student.address" #address="ngModel" placeholder="Address" required />
                          <div *ngIf="address.touched && address.invalid"  class="validation-error">Address is required</div>
                        </div>
                        <div class="form-group col-md-12" >
                                <input type="text" class="form-control inp" name="country" [(ngModel)]="student.country" #country="ngModel" placeholder="Country" required />
                                <div *ngIf="country.touched && country.invalid"  class="validation-error">Country is required</div>
                            </div>
                        
                            <div class="form-group col-md-12" >
                                    <input type="text" class="form-control inp" name="state" [(ngModel)]="student.state" #state="ngModel" placeholder="State" required />
                                    <div *ngIf="state.touched && state.invalid"  class="validation-error">State is required</div>
                                </div>
                        
                                <div class="form-group col-md-12" >
                                        <input type="text" class="form-control inp" name="lga" [(ngModel)]="student.lga" #lga="ngModel" placeholder="Local Government Area" required />
                                        <div *ngIf="lga.touched && lga.invalid"  class="validation-error">State is required</div>
                                    </div>
                        </fieldset>
                        <fieldset>
                                <legend>Other Details</legend>
                                <div class="form-group col-md-12" >
                                        <input type="text" class="form-control inp" name="hairColor" [(ngModel)]="student.hairColor" #hairColor="ngModel" placeholder="Hair Colour" required />
                                        <div *ngIf="hairColor.touched && hairColor.invalid"  class="validation-error">Hair Colour is required</div>
                                    </div>
                                    <div class="form-group col-md-12" >
                                            <select class="form-control" [(ngModel)]="student.genoTypeId" name="genoTypeId" required #genoTypeId="ngModel" >
                                                <option >Select GenoType</option>
                                                <option *ngFor="let g of genoType" value="{{g.id}}">{{g.name}}</option>
                                            </select>
                                            <div class="validation-error" *ngIf="genoTypeId.touched && genoTypeId.invalid">Please Select GenoType</div>
                                        </div>
                                        <div class="form-group col-md-12" >
                                                <select class="form-control" [(ngModel)]="student.bloodGroupId" name="bloodGroupId" required #bloodGroupId="ngModel" >
                                                    <option >Select BloodGroup</option>
                                                    <option *ngFor="let b of bloodGroup" value="{{b.id}}">{{b.name}}</option>
                                                </select>
                                                <div class="validation-error" *ngIf="bloodGroupId.touched && bloodGroupId.invalid">Please Select BloodGroup</div>
                                            </div>
                                            <div class="form-group col-md-12" >
                                                    <select class="form-control" [(ngModel)]="student.religionId" name="religionId" required #religionId="ngModel" >
                                                        <option >Select Religion</option>
                                                        <option *ngFor="let r of religion" value="{{r.id}}">{{r.name}}</option>
                                                    </select>
                                                    <div class="validation-error" *ngIf="religionId.touched && religionId.invalid">Please Select Religion</div>
                                                </div>
                        </fieldset>
                        <fieldset>
                                <legend>Next of Kin Details</legend>
                                <div class="form-group col-md-12" >
                                        <input type="text" class="form-control inp" name="nkName" [(ngModel)]="student.nkName" #nkName="ngModel" placeholder="Name" required />
                                        <div *ngIf="nkName.touched && nkName.invalid"  class="validation-error">Name is required</div>
                                    </div>
                                    <div class="form-group col-md-12" >
                                            <input type="text" class="form-control inp" name="nkPhoneNumber" [(ngModel)]="student.nkPhoneNumber" #nkPhoneNumber="ngModel" placeholder="Phone Number" required />
                                            <div *ngIf="nkPhoneNumber.touched && nkPhoneNumber.invalid"  class="validation-error">Phone Number is required</div>
                                        </div>
                                        <div class="form-group col-md-12" >
                                                <select class="form-control" [(ngModel)]="student.nkRelationshipId" name="nkRelationshipId" required #nkRelationshipId="ngModel" >
                                                    <option >Select Next of Kin</option>
                                                    <option *ngFor="let k of nkRelationship" value="{{k.id}}">{{k.name}}</option>
                                                </select>
                                                <div class="validation-error" *ngIf="nkRelationshipId.touched && nkRelationshipId.invalid">Please Select Next of Kin</div>
                                            </div>
                                        <div class="form-group col-md-12" >
                                                <input type="text" class="form-control inp" name="nkAddress" [(ngModel)]="student.nkAddress" #nkAddress="ngModel" placeholder="Address" required />
                                                <div *ngIf="nkAddress.touched && nkAddress.invalid"  class="validation-error">Address is required</div>
                                            </div>
                            </fieldset>

                            <div class="card-footer">
                                    <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <button  style="font-weight:bolder;"  class="btn btn-primary btn-block ">UPDATE</button>  
                                            </div>
                                          </div>
                              </div>
                        </div>
                </form>

            </div>
            <!-- /.card -->
    </div>



