



       
       <div class="container    ">
           <div class="signUpCard">
           <div  class=" col-md-6 ">
                <h2 style="font-weight: bold; color: #444; font-size: 25px;" align="center" >LOGIN PROFILE</h2>
                <br />
              <ul   class="nav nav-pills nav-stacked ">
                  <li   >
                      
                      <a   class="btn btn-block btn-social butt btn-facebook btn-custom-dec login-button"  routerLink="/student-login" style=" padding-top: 11px !important; padding-bottom: 11px !important; margin-bottom: -1px !important; border-radius: 4px !important;" > 
                        <i class="fa fa-graduation-cap" style="padding-top: 5px !important"></i> STUDENT LOGIN
                        
                    </a>
                  </li>
                  <br >
                  <br >
                  <li  >
                     
                      <a class="btn btn-block btn-social but btn-facebook btn-custom-dec login-button"  routerLink="/staff-login" style=" padding-top: 11px !important; padding-bottom: 11px !important; margin-bottom: -1px !important; border-radius: 4px !important;" > 
                        <i class="fa fa-suitcase" style="padding-top: 5px !important"></i> STAFF LOGIN
                        
                    </a>
                  </li>
                </ul>
           </div>
           
           <div  class=""> 
                 
              <div>
                <router-outlet></router-outlet>
                
              </div>
    
           </div>
        </div>
         </div>
 
    
 







  
